# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
venv/
.venv/

# Temp files
temp/
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Project files
node_modules

nul

workspace

~$*
